
<div class="row" style="position: relative; margin-bottom: 5px">
  <h1 style="float: left"> Parks </h1>
  <div style="position: absolute; bottom: 0; right: 0">
    <%= link_to "Add a new Park", new_park_path , class: "btn btn-default", style: "float: right" %>
    <%= link_to "Home Page", root_path, class: "btn btn-primary", style:"float: right" %>
  </div>
  <!-- <a style="position: absolute; bottom:0; float: right" href="/parks/new" class="btn btn-default">Add a new Park</a> -->
</div>

<div class="row">
  <% @parks.each_with_index do | park, index | %>
    <div class="well col-md-4">
      <pre><%=park.name%></pre>
      <pre><%=park.description%></pre>
      <pre><%=park.picture%></pre>
      <pre><%= park.inspect %></pre>
      <%= link_to 'More details', park_path(park.id), class: "btn btn-primary" %>
      <%= link_to 'Edit', edit_park_path(park.id), class: "btn btn-success" %>
      <%= link_to "Delete", park_path(park.id), method: :delete, class: "btn btn-danger" %>
    </div>
  <% end %>
</div>

<div class="row">
  <a href="#" class="btn btn-default" style="float: right"> Back to top.</a>
</div>
