<h1>Create new Park</h1>

<%= bootstrap_form_for(@new_park, label_error:true) do |f| %>
  <%= f.text_field :name, label: "Park Name"  %>
  <%= f.text_field :description %>
  <%= f.text_field :picture, icon: "link"%>
  <%= f.primary "Submit" %>
<% end %>
