
<div class="row" style="position: relative; margin-bottom: 5px">
  <h1 style="float: left"> <%= @park.name %> </h1>
</div>

<div class="row">
  <div class="well col-md-4">
    <pre><%=@park.description%></pre>
    <pre><%=@park.picture%></pre>
  </div>
</div>

<div class="row">
  <%= link_to "Back", parks_path, class: "btn btn-primary" %>
  <%= link_to 'Edit', edit_park_path(@park.id), class: "btn btn-success" %>
  <!-- <%= link_to "Delete", park_path(@park), :method => :delete, class: "btn btn-danger" %> -->
</div>
